<!-- views/partials/board.ejs -->

<div id="game-board-container">
  <img id="anticlockwise-arrow" class="rotation-arrow" src="/images/svg/anticlockwise.svg"/>
  <img id="clockwise-arrow"  class="rotation-arrow" src="/images/svg/clockwise.svg"/>
  <div id="game-board"></div>
</div>

<script>
  
</script>