<meta charset="UTF-8">
<title>TI4 Galaxy Creator</title>
<link rel="stylesheet" href="/css/common.css">
<script>
  var ti4 = {
    constructors: {},
    state:  {
      restricted: {}
    }
  };
</script>