<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head-common %>
    <script src="/js/constructors/tile.js"></script>
    <script src="/js/routes/create.js"></script>
    <script src="/js/preload.js"></script>
  </head>
  <body>
  </body>
</html>